<!-- confirm-modal.html -->
<div class="modal-header">
    <h3 class="modal-title">Please confirm deletion request</h3>
</div>
<div class="modal-body">
    <p>You are about to delete your account. This will remove all your user details, and all transaction data.
        Are you sure you want to proceed?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="confirm()">Yes</button>
    <button class="btn btn-warning" type="button" ng-click="$dismiss()">No, I changed my mind</button>
</div>