<!-- edit-user.html -->
<div class="col-md-12">
    <div class="col-md-4 col-md-offset-4">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <form class=fp-form" name="editUserForm">
                    <div class="form-group">
                        <label for="preferredName">Enter preferred name: </label>
                        <input class="form-control" id="preferredName" type="text" placeholder="Preferred Name"
                               data-ng-model="vm.preferredName">
                    </div>
                    <div class="form-group">
                        <label for="lowLimitWarning">Enter limit warning: </label>
                        <input class="form-control" id="lowLimitWarning" type="number" step="any"
                               placeholder="Low Limit Warning"
                               data-ng-model="vm.lowLimitWarning">
                    </div>
                    <div class="form-group">
                        <label for="password">Enter password: </label>
                        <input class="form-control" id="password" type="password" placeholder="password"
                               data-ng-model="vm.password">
                    </div>
                    <button class="btn btn-success" data-ng-click="vm.saveUserDetails()">
                        Save Changes
                    </button>
                    <button class="btn btn-danger col-md-offset-2" data-ng-click="vm.deleteUser()">Delete
                        User
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>